.center {

text-align: center;

}

.padding-top{

padding-top:18px;

}


.padding-bottom{

padding-bottom:20px;



}


.circle-btn{
    padding: 30px;
    border-radius: 90px;
    background-color: plum;
    vertical-align: central;
    align-items: center;
    position: sticky;
    text-align: center;
    margin:auto;
    top:10px
   

}

.sticky{


position: sticky;


}


.card{


min-height: 300px;



}

.padding-top2{

    padding-top:30px;
    
}


#subject{

padding-top:35%;
padding-bottom:50px;
margin-bottom: 10px;

}



.border-btn{

    border-color: black;
    padding: 25px;
    
    }


.row2>* {
    flex-shrink: 0;
    width: 115%;
    max-width: 130%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
    text-align: center;
}

.border-btn2{

    border-color: black;
    padding: 20px;
    
    }

.top {

top:23px;

}

.pad {

padding: 20px;

}

.pad10{

padding-top: 10px;


}
