<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width", initial-scale="1.0" />
        <title>Direct messaging</title>
        <link rel="stylesheet" href="/static/css/styles.css" />

    </head>
    <body class="someclass">
        <div class="person-selector">
            <button class="button person-selector-button" id="john-selector">{{result['name']}}</button>
        </div>
        <div class="chat-container">
            <h2 class="chat-header">A</h2>

            <div class="chat-messages">
                <div class="message blue-bg"> 
                    <div class="message-sender">{{result['']}}</div>
                    <div class="message-text">Hey John, you said you needed help with some math?</div>
                    <div class="message-timestamp">12:00 PM</div>
                </div>
                    <div class="message gray-bg">
                    <div class="message-sender">john</div>
                    <div class="message-text">Good afternoon Mr. forlenza, yes I do since I've been stuck on one part of the math problem.</div>
                </div>
            </div>
                <form class="chat-input-form" method="POST">
                    <input type="text" class="chat-input" required placeholder="Type Here, jforlenza..." name="Message"/>
                    <button type="submit" class="button send-button">Send</button>
                </form>
                <button class="button clear-chat-button">Clear Chat</button>
        </div>
    </body>

</html>