<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/fontawesome.css">
  <link rel="stylesheet" href="/static/css/templatemo-scholar.css">
  <link rel="stylesheet" href="/static/css/owl.css">
  <link rel="stylesheet" href="/static/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
</head>

<body>
  {%with messages = get_flashed_messages()%}
  {%if messages%}
  {%for message in messages%}
  <div>
    <h3>{{ message }}</h3>
  </div>
  {%endfor%}
  {%endif%}
  {%endwith%}

  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="index.html" class="logo">
              <h1>Scholar</h1>
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Serach Start ***** -->

            <!-- ***** Serach Start ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">


              <a href='/match' class="circle-btn mx-auto">Matching</a>

              <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="#contact">Contacts</a></li>
            </ul>
            <a class='menu-trigger'>
              <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div class="container bootstrap snippets bootdey">
    <div class="row">
      <div class="profile-nav col-md-3">
        <div class="panel">
          <div class="user-heading round">
            <a href="#">
              <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
            </a>
            <h1>Camila Smith</h1>
            <p>deydey@theEmail.com</p>
          </div>

          <ul class="nav nav-pills nav-stacked">


            <li>
              
              <form method="POST" enctype="multipart/form-data" class="fa fa-edit">
                Edit profile picture:
                {{form.hidden_tag()}}
                {{form.file()}}
                {{form.submit()}}
              </form>
            </li>
          </ul>
        </div>
      </div>
      <div class="profile-info col-md-9 panel">
        <div class="bio-graph-heading">
          Aliquam ac magna metus. Nam sed arcu non tellus fringilla fringilla ut vel ispum. Aliquam ac magna metus.
        </div>
        <div class="panel-body bio-graph-info">
          <h1>Bio Graph</h1>
          <div class="row">
            <div class="bio-row">
              <p><span>First Name </span>: Camila</p>
            </div>
            <div class="bio-row">
              <p><span>Last Name </span>: Smith</p>
            </div>
            <div class="bio-row">
              <p><span>Country </span>: Australia</p>
            </div>
            <div class="bio-row">
              <p><span>Birthday</span>: 13 July 1983</p>
            </div>
            <div class="bio-row">
              <p><span>Occupation </span>: UI Designer</p>
            </div>
            <div class="bio-row">
              <p><span>Email </span>: jsmith@flatlab.com</p>
            </div>
            <div class="bio-row">
              <p><span>Mobile </span>: (12) 03 4567890</p>
            </div>
            <div class="bio-row">
              <p><span>Phone </span>: 88 (02) 123456</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>


</body>

</html>