<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet">

  <title></title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/css/profile.css">
  <link rel="stylesheet" href="/static/css/fontawesome.css">
  <link rel="stylesheet" href="/static/css/templatemo-scholar.css">
  <link rel="stylesheet" href="/static/css/owl.css">
  <link rel="stylesheet" href="/static/css/animate.css">
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/static/css/style.css">
    
  <!--

TemplateMo 586 Scholar

https://templatemo.com/tm-586-scholar

-->
</head>

<body>
 <section class="d-flex flex-column justify-content-center align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-10 mx-auto rounded shadow bg-white">
                    <div class="row">
                        <div>
                            <div class="m-5 text-center">
                                <h1>You've already submitted a review for this user. </h1>
                            </div>
                        </div>
                        <button class="btn btn-primary" onclick="window.location = window.location.href;">OK</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
  

    
  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.min.js"></script>
  <script src="/static/js/isotope.min.js"></script>
  <script src="/static/js/owl-carousel.js"></script>
  <script src="/static/js/counter.js"></script>
  <script src="/static/js/custom.js"></script>
</body>

</html>