<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Messages</title>
     <link rel="stylesheet" href="static/css/styles.css">
</head>
<body>
    <h1>Messages</h1>
    <ul>
    {% for message in messages %}
        <li>From: {{ message[1] }} To: {{ message[2] }} Message: {{ message[3] }}</li>
    {% endfor %}
    </ul>
</body>
</html>